version: '3.8'

name: new-course-site

services:
  website:
    build:
      context: ..
      dockerfile: Dockerfile

    container_name: new-course-site

    ports:
      - "3001:3001"

    restart: unless-stopped

    healthcheck:
      test: ["CMD", "wget", "-q", "--spider", "http://127.0.0.1:3001"]
      interval: 30s
      timeout: 3s
      start_period: 5s
      retries: 3

    environment:
      - NODE_ENV=production
